<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Polarization</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .active-button {
            background-color: #0056b3 !important;
            color: white !important;
        }
    </style>
</head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="margin-bottom: 20px;">
                <div class="row text-center" style="width: 100%;">
                    <div class="col-lg-4">
                        <a href="{% url 'polar:pythoncode' %}" class="btn btn-primary btn-block nav-button">Python Code</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% url 'polar:jonescalculus' %}" class="btn btn-primary btn-block nav-button">Jones Calculus</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% url 'polar:muellercalculus' %}" class="btn btn-primary btn-block nav-button">Mueller Calculus</a>
                    </div>
                    
                    
                   
                </div>
        </nav>
    
    
        {% block content %}

        {% endblock %}
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
        document.querySelectorAll('.nav-button').forEach(button => {
            button.addEventListener('click', function() {
                document.querySelectorAll('.nav-button').forEach(btn => btn.classList.remove('active-button'));
                this.classList.add('active-button');
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const currentUrl = window.location.href;
            document.querySelectorAll('.nav-button').forEach(button => {
                if (button.href === currentUrl) {
                    button.classList.add('active-button');
                }
            });
        });
    </script>
</html>

